*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


font-family: "Poppins-Regular";

}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../assets/Poppins/Poppins-Regular.ttf);

}

@font-face {
    font-family: "Poppins-Semibold";
    src: url(../assets/Poppins/Poppins-SemiBold.ttf);
    
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../assets/Poppins/Poppins-Light.ttf);
    
}

h1 {
    font-family: "Poppins-Semibold";
    font-size: 3rem;
    padding: 6rem;
    text-align: left;

    color:rgb(255, 255, 255)

}

h2 {
    font-size: 2rem;
    margin-left: 6rem;
    font-family: "Poppins-Semibold";

    color:rgb(255, 255, 255)

}

p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0rem;
    margin-top: 1rem;
    padding-top: 1rem;
    font-family: "Poppins-Light";
    color: rgb(46, 46, 46);
    text-align: center;

}

h4 {
    font-size: 1rem;
    font-family: "Poppins-Light";

}

.section1 {
    background-image: url(../assets/images/IMG-20220302-WA0019.jpg);
    height: 700px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ProyectoSection1 {
    background-image: url(../assets/images/topography.jpg);
    height: 300px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    
}

.ServiciosSection {
    background-image: url(../assets/images/topography.jpg);
    height: 300px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    
}
.TituloServicios {
    margin-top: 150px;
    width: 50vw;    
}

h4{
    font-family: "Poppins-Light";
    color: rgb(226, 224, 224);
    text-align: center;
    padding: 40px;
}

.section2 img{
    opacity: 1;
    width: 400px;
    padding: 0%;
    margin: 0;
    transition: all 2s;

}

.Imagen1 img{
    width: 400px;
    transition: all 2s;
}
.Imagen1:hover{
    transform: scale(1.1, 1.1);
    border-radius: 20px;
    opacity: 0.2;
}

.Imagen2 img{
    width: 400px;
    transition: all 2s;
}
.Imagen2:hover{
    transform: scale(1.1, 1.1);
    border-radius: 20px;
    opacity: 0.2;
}

.Imagen3 img{
    width: 400px;
    transition: all 2s;
}
.Imagen3:hover{
    transform: scale(1.1, 1.1);
    border-radius: 20px;
    opacity: 0.2;
}


.section2 img{
    opacity: 1;
    width: 350px;
    padding: 0%;
    transition: all 2s;

}
.contenedorSection2{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.boxSection2 {
    width: 350px;
    margin: 20px;

  
}

.contenedorfooter {
    background-color: black;
    width: 100vw;
    display: flex;

}

.grupo1 {
   
    align-items: flex-start;
    margin: 20px;
}
 .grupo1 img{
    width: 150px;
    
 }

 .contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
 }

 .contacto h5 {
    color: white;
 }

 .groupCont {
    display: flex;
 }

 .grupo2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
 }

 .grupo3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 500px;
 }


 .social{
    display: flex;
 }

 .social img {
    width: 40px;
    margin-left: 20px;
 }


.grupo4 {
    margin-top: 150px;
    width: 50vw;
}

.contenedor2 {
    margin: 20px;
}

.contenedor2 .opcion1 {
    margin: 20px
}
.contenedor2 .opcion2 {
    margin: 20px
}.contenedor2 .opcion3 {
    margin: 20px
}

.grupo5  {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 40vw;
}

.grupo5 p {
    color: #fff;
}

.opcion1 {
    background-color: rgb(192, 190, 190);
}
.opcion2 {
    background-color: rgb(122, 122, 122);
}

.opcion3 {
background-color: rgb(77, 75, 75);    
}

-------------------------------
.contenedorproyecto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedorproyecto figure{
   position:relative;
   height: 300px;
   width: 450px;
   overflow: hidden;
}
.contenedorproyecto figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;

}
.contenedorproyecto figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedorproyecto figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedorproyecto figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedorproyecto figure:hover > img{
    transform: scale(1.3);
}
.contenedorproyecto figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedorproyecto figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
------------------------

.sectionProfiles{
    display: flex;
}

.contenedorSectionProfiles{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.boxSectionProfiles {
    width: 300px;
    margin: 50px;
}

h4{
    text-align: center;
    padding: 10px;
    font-family: Poppins-Semibold;
}

.Profile1 img {
    width: 300px;
    border-radius: 150px;
}

iframe {
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 0px;
}
.contactoForm {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 50px 50px;
    flex-wrap: wrap;
    padding: 20px;
}

.form {
    width: 600px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}


header{
    background-color: #000000;
}
.logonav {
    width: 50px;
    padding: 5px;
    margin: auto;
    padding: 5px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: #000000;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.navbar-collapse collapse show{
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.705);
    justify-content:flex-end
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
--bs-navbar-nav-link-padding-x: 0.3rem;
--bs-navbar-toggler-padding-y: 0.3rem;
margin-right: 10px;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
}

.nav-item a:hover{
    font-weight: bold;
    text-decoration: underline;
    border-radius: 10%;
    color: rgb(255, 255, 255)
}


.pie-pagina{
    width: 100%;
    background-color: #000000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 80px;
}
.pie-pagina .grupo-1 .box h5{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box h6{
    color: white;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(97, 97, 97);
}
.pie-pagina .grupo-2{
    background-color: #383838;
    padding: 15px 10px;
    text-align: right;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.sectionDatos{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorSectionDatos{
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
}

.boxSectionDatos {
    width: 300px;
    height: 100px;
    margin: 20px;
}

.boxSectionDatos p{
    padding: 0;
}

h4{
    text-align: center;
    padding: 0px;
    font-family: Poppins-Semibold;
}

p {
    margin-bottom: 0rem;
}

.card-body img {
 width: 100%;
 height: 100%;
 opacity: 0.8;
}
.card-body h5 {
    padding: 30px;
}

.contactoForm p{
    text-align: left;
}